<IfModule mod_rewrite.c>
  RewriteEngine On RewriteBase / RewriteRule ^index\.html$ - [L] RewriteCond
  %{../src/App.vue} !-f RewriteCond %{REQUEST_FILENAME} !-d RewriteRule .
  /index.html [L]
</IfModule>
